<h3>Register your vehicle</h3>

<%#= form_for @visitor, :url => { :action => "create" }, local: true do |form| %>
<%= form_with model: @visitor, local: true do |form| %>
  <p>
    <%= form.label :building, 'Enter Location ID:' %><br>
    <%= form.text_field :building %>
  </p>

  <p>
    <%= form.label :apt_num, 'Enter Unit/Apt Number:' %><br>
    <%= form.text_field :apt_num %>
  </p>

  <p>
    <%= form.label :phone, 'Enter Phone Number:' %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :license_plate, 'Enter vehicle License Plate:' %><br>
    <%= form.text_field :license_plate %>
  </p>


  <p>
    <%= form.submit :value=>'Register' %>
  </p>
<% end %>