<h2>List of Buildings Registered <div class="col text-right"><%= link_to 'Register Building', new_building_path, class: "btn btn-primary"  %></div></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Code</th>
      <th scope="col">Registration #</th>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Postal Code</th>
      <th scope="col">Country</th>
      <th scope="col"># of parking spots</th>
      <th scope="col">Month Limits</th>
      <th scope="col">Created at</th>
      <th scope="col">Updated at</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td scope="row"><%= building.id %></td>
        <td scope="row"><%= building.code %></td>
        <td scope="row"><%= building.registration_num %></td>
        <td scope="row"><%= building.name %></td>
        <td scope="row"><%= building.street %></td>
        <td scope="row"><%= building.city %></td>
        <td scope="row"><%= building.state %></td>
        <td scope="row"><%= building.postal_code %></td>
        <td scope="row"><%= building.country %></td>
        <td scope="row"><%= building.parking_spots %></td>
        <td scope="row"><%= building.month_limits %></td>
        <td scope="row"><%= building.created_at %></td>
        <td scope="row"><%= building.updated_at %></td>
        <td scope="row">
          <%= link_to 'Show', building_path(building), class: "btn btn-info" %>
          <%= link_to 'Edit', edit_building_path(building), class: "btn btn-success" %>
          <%= link_to 'Delete', building_path(building), class: "btn btn-danger",
              method: :delete,
              data: {confirm: 'Are you sure you want to delete building - ' + building.name + '?'}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
