<h1>Viewing - <%= @building.name %></h1>
<p>
  <strong>Code:</strong>
  <%= @building.code %>
</p>

<p>
  <strong>Registration #:</strong>
  <%= @building.registration_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong># of Parking Spots:</strong>
  <%= @building.parking_spots %>
</p>

<h4>Address: </h4>
<p>
  <%= @building.street %><br/>
  <%= @building.city + ", " + @building.state %><br/>
  <%= @building.postal_code + ", " + @building.country %><br/>
</p>



<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>